<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    
    <link name="world" />

    <xacro:include filename="$(find panda)/robots/panda_arm.xacro"/>
    <xacro:panda_arm arm_id="panda1" connected_to="world" xyz="0 -0.5 0" rpy="0 0 0" />
    <xacro:include filename="$(find panda)/robots/hand.xacro"/>
    <xacro:hand ns="panda1" rpy="0 0 ${-pi/4}" connected_to="panda1_link8"/>    

    <xacro:include filename="$(find panda)/robots/panda_arm.xacro"/>
    <xacro:panda_arm arm_id="panda2" connected_to="world" xyz="0 0.5 0" rpy="0 0 3.14" />
    <xacro:include filename="$(find panda)/robots/hand.xacro"/>
    <xacro:hand ns="panda2" rpy="0 0 ${-pi/4}" connected_to="panda2_link8"/>

</robot>